/* slide-fade */

.slide-fade-left-enter-active,
.slide-fade-left-leave-active {
    transition: transform 120ms ease,
                opacity 120ms ease;
}

.slide-fade-left-enter {
    transform: translateX(-1rem);
    opacity: 0;
}

.slide-fade-left-leave-to {
    transform: translateX(1rem);
    opacity: 0;
}


/* slide-forward (ios-like) */

.slide-forward-leave-active,
.slide-forward-enter-active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 400ms ease,
                filter 400ms ease;
}

.slide-forward-enter-active {
    z-index: 2;

    &:first-of-type  {
        z-index: 0;
    }
}

.slide-forward-enter {
    transform: translateX(100%);
}

.slide-forward-enter-to {
    transform: translateX(0);
}

.slide-forward-leave-active  {
    z-index: 1;

    &:after {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        content: "";
        transition: all 400ms ease;
    }
}

.slide-forward-leave {
    filter: brightness(1);
    transform: translateX(0);
}

.slide-forward-leave-to {
    transform: translateX(-25%);
    filter: brightness(0.7);
}

/* slide-backward (ios-like) */

.slide-backward-enter-active,
.slide-backward-leave-active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 400ms ease,
                filter 400ms ease;
}

.slide-backward-enter-active {
    z-index: 0;
}

.slide-backward-leave-active {
    
    @for $i from 1 through 10 {
        &:nth-of-type(#{$i}) {
            z-index: #{10 - $i};
        }
    }

     &:after {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        content: "";
        transition: all 400ms ease;
    }
}

.slide-backward-enter {
    filter: brightness(0.8);
    transform: translateX(-25%);
}

.slide-backward-enter-to {
    filter: brightness(1);
    transform: translateX(0);
}

.slide-backward-leave {
    transform: translateX(0);
}

.slide-backward-leave-to {
    transform: translateX(100%);
}