.btn-header {
    margin: 0;
    border: none;
    display: block;
    background: none;
    color: $gray-700;
    padding: 0.75rem 0.5rem;

    &:active,
    .no-touch &:hover {
        color: $primary;
    }

    &:focus {
        outline: none;
    }

    @mixin absolute() {
        top: 0;
        position: absolute;
    }

    &__badge {
        @include absolute();
        z-index: 2;
        right: 0;
        top: 0;
        background-color: $success;
        width: 0.6rem;
        height: 0.6rem;
        border-radius: 50%;
    }

    &__content {
        min-width: 2.125rem;
        min-height: 2.125rem;
        padding: 0.5rem 1rem;
        position: relative;
        border-radius: 1.5rem;
        line-height: 1;
        box-sizing: border-box;
        background-color: $gray-200;

        .icon,
        .avatar {
            @include absolute();
            z-index: 1;
            width: 100%;
            height: 100%;
        }

        .icon {
            top: 1px;
            left: 0;
            display: block;
            text-align: center;
            font-size: 1.1875rem;
            line-height: 2rem;
        }

        .avatar {
            left: 0;
            border-radius: 50%;
            background-size: cover;
        }
    }

    &_danger {
        color: $danger;

        &:active,
        .no-touch &:hover {
            color: $danger;

            .btn-header__content {
                background-color: lighten(saturate(adjust-hue($danger, 3), 14.42), 32.55)
            }
        }

        .btn-header__content {
            background-color: lighten(saturate(adjust-hue($danger, 2), 7.28), 35.29);
        }
    }
}

.btn-primary {
    color: $white;

    &:hover,
    &:focus,
    &:active,
    &:disabled {
        color: $white;
    }
}

.btn:not(:active) {

    &.btn-primary {

        .touch &:hover {
            border-color: $primary;
            background-color: $primary;
        }
    }

    &.btn-secondary {
        
        .touch &:hover {
            border-color: $secondary;
            background-color: $secondary;
        }
    }
    
    &.btn-success {
        
        .touch &:hover {
            border-color: $success;
            background-color: $success;
        }
    }

    &.btn-danger {

        .touch &:hover {
            border-color: $danger;
            background-color: $danger;
        }
    }

    &.btn-warning {
        
        .touch &:hover {
            border-color: $warning;
            background-color: $warning;
        }
    }

    &.btn-info {
        
        .touch &:hover {
            border-color: $info;
            background-color: $info;
        }
    }

    &.btn-light {
        
        .touch &:hover {
            border-color: $light;
            background-color: $light;
        }
    }

    &.btn-dark {
        
        .touch &:hover {
            border-color: $dark;
            background-color: $dark;
        }
    }
}