.form-check {
    padding-left: 0;

    .form-check-label {
        position: relative;
        padding-left: 1.5rem;
        cursor: pointer;

        &::before,
        &::after {
            content: '';
            position: absolute;
            border-radius: 50%;
        }

        &::before {
            top: 0.45em;
            left: 0.25rem;
            width: 0.5rem;
            height: 0.5rem;
            background-color: $primary;
            transform: scale(0);
            transition: transform 150ms ease-in-out;
        }

        &::after {
            left: 0;
            top: 0.2em;
            width: 1rem;
            height: 1rem;
            transition: border 150ms linear;
            border: 2px solid $gray-500;
        }
    }

    .form-check-input {
        position: absolute;
        opacity: 0;
        width: 1rem;
        height: 1rem;
        margin: 0;

        &:checked + .form-check-label {

            &::before {
                transform: scale(1);
            }

            &::after {
                border-color: $primary;
            }
        }

        &[disabled] + .form-check-label {
            &::before,
            &::after {
                border-color: $gray-300;
            }
        }

        &:not(:disabled):not(:checked) + .form-check-label:hover {
            cursor: pointer;

            &::after {
                border-color: $gray-600;
            }
        }
    }
}
