.ps {
    position: relative;
    overflow: hidden !important;
    overflow-anchor: none;
    touch-action: auto;
    -ms-overflow-style: none;
    -ms-touch-action: auto;
    
    &__rail-x,
    &__rail-y {
        opacity: 0;
        display: none;
        position: absolute;
        transition: opacity .2s linear,
                    background-color .2s linear;
    }
    
    &__rail-x {
        height: 15px;
        bottom: 0px;
    }
    
    &__rail-y {
        width: 15px;
        right: 0;
    }
    
    &--active-x > &__rail-x,
    &--active-y > &__rail-y {
        display: block;
        background-color: transparent;
    }
    
    &:hover > &__rail-x,
    &:hover > &__rail-y,
    &--focus > &__rail-x,
    &--focus > &__rail-y,
    &--scrolling-x > &__rail-x,
    &--scrolling-y > &__rail-y {
        opacity: 0.6;
    }

    &__rail-x:hover,
    &__rail-y:hover,
    &__rail-x:focus,
    &__rail-y:focus,
    &__rail-x#{&}--clicking,
    &__rail-y#{&}--clicking {
        background-color: $gray-100;
        opacity: 0.9;
    }

    &__thumb-x,
    &__thumb-y {
        position: absolute;
        background-color: $gray-400;
        border-radius: 6px;
        transition: width .2s ease-in-out,
                    background-color .2s linear;
    }

    &__thumb-x {
        height: 6px;
        bottom: 2px;
    }

    &__thumb-y {
        width: 6px;
        right: 2px;
    }

    &__rail-x:hover > &__thumb-x,
    &__rail-x:focus > &__thumb-x,
    &__rail-x#{&}--clicking &__thumb-x {
        background-color: $gray-500;
        height: 11px;
    }

    &__rail-y:hover > &__thumb-y,
    &__rail-y:focus > &__thumb-y,
    &__rail-y#{&}--clicking &__thumb-y {
        background-color: $gray-500;
        width: 11px;
    }

    @supports (-ms-overflow-style: none) {
        overflow: auto !important;
    }
    
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        overflow: auto !important;
    }
}