$white:    #fff;
$gray-100: #f8f9fb;
$gray-200: #eef1f5;
$gray-300: #dde2ea;
$gray-400: #ccd4e0;
$gray-500: #bbc5d5;
$gray-600: #8c94a0;
$gray-700: #5e636b;
$gray-800: #2f3135;
$gray-900: #1c1e20;
$black:    #000;

$primary:       #00aeee;
$secondary:     #e4e6ef;
$success:       #2cca8c;
$info:          #8950fc;
$warning:       #ffbe3e;
$danger:        #e63757;
$light:         #edf2f9;
$dark:          $gray-900;

$box-shadow-sm: 0 0.1rem 1rem 0.25rem rgba(0, 0, 0, 0.05);
$box-shadow:    0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075);
$box-shadow-lg: 0 1rem 2rem 1rem rgba(0, 0, 0, 0.1);

$border-radius: 0.2rem;

