$white:    #fff;
$gray-100: #fafbfe;
$gray-200: #eff2f7;
$gray-300: #e2e8f0;
$gray-400: #cbd5e0;
$gray-500: #a0aec0;
$gray-600: #718096;
$gray-700: #4a5568;
$gray-800: #2d3748;
$gray-900: #273444;
$black:    #000;

$primary:       #00aeee;
$secondary:     #e4e6ef;
$success:       #2cca8c;
$info:          #8950fc;
$warning:       #ffbe3e;
$danger:        #f03e3e;
$light:         #edf2f9;
$dark:          $gray-900;

$box-shadow-sm: 0 0.1rem 1rem 0.25rem rgba(0, 0, 0, 0.05);
$box-shadow:    0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075);
$box-shadow-lg: 0 1rem 2rem 1rem rgba(0, 0, 0, 0.1);

$border-radius: 0.3125rem;

$grid-gutter-width:  2rem;

$card-cap-bg:       $gray-200;
$card-border-color: $gray-300;
$card-spacer-y:     1rem;
$card-spacer-x:     1rem;

$alert-padding-y:     0.4rem;
$alert-padding-x:     0.8rem;
$alert-bg-level:      0;
$alert-border-level:  0;
$alert-color-level:   -10;

$input-btn-padding-y: 0.4rem;
$input-btn-padding-x: 0.8rem;

$input-btn-focus-box-shadow: none;

$input-focus-border-color: $primary;


/* vue-select */

$vs-colors: (
        lightest: $gray-400,
        light: $gray-500,
        dark: $gray-800,
        darkest: rgba(0, 0, 0, .15),
);

$vs-component-line-height: 1.5;
$vs-state-active-bg: $primary;
$vs-dropdown-box-shadow: none;