$white:    #fff;
$gray-100: #f3f6f9;
$gray-200: #ebedf3;
$gray-300: #e4e6ef;
$gray-400: #d1d3e0;
$gray-500: #b5b5c3;
$gray-600: #7e8299;
$gray-700: #5e6278;
$gray-800: #3f4254;
$gray-900: #181c32;
$black:    #000;

$primary:       #3699ff;
$secondary:     #e4e6ef;
$success:       #2cca8c;
$info:          #8950fc;
$warning:       #ffbe3e;
$danger:        #e63757;
$light:         #edf2f9;
$dark:          $gray-900;

$box-shadow-sm: 0 0.1rem 1rem 0.25rem rgba(0, 0, 0, 0.05);
$box-shadow:    0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075);
$box-shadow-lg: 0 1rem 2rem 1rem rgba(0, 0, 0, 0.1);

