@import "variables";
@import "./node_modules/bootstrap/scss/bootstrap";
@import "./node_modules/vue-select/src/scss/vue-select";
@import "mixins";
@import "fonts";
@import "icons";
@import "scrollbar";
@import "logotype";
@import "radio";
@import "vue-select";

html, body {
    height: 100%;
    color: $gray-800;
    font-family: "Rubik";
    background: $gray-200;
}

.clickable {
    cursor: pointer;
}

.badge-warning {
    color: $white;
}