@import "variables";
@import "./node_modules/bootstrap/scss/bootstrap";
@import "./node_modules/vue-select/src/scss/vue-select";
@import "vue-select";
@import "datepicker";
@import "mixins";
@import "fonts";
@import "icons";
@import "logotype";
@import "radio";
@import "buttons";

html, body {
    height: 100%;
    color: $gray-800;
    font-family: "Rubik";
    background: $gray-200;
}

.simplebar-content-wrapper::-webkit-scrollbar { 
    display: none; 
}

.simplebar-scrollbar:before {
  background: $dark;
}

.clickable {
    cursor: pointer;
}

.badge-warning {
    color: $white;
}

.preload-image {
    width: 1px;
    height: 1px;
    opacity: 0.01;
    position: absolute;
    right: 0;
    bottom: 0;
}

.hide-mobile {
    @include media-breakpoint-down(sm) {
        display: none !important;
    }
}

.hide-desktop {
    @include media-breakpoint-up(md) {
        display: none !important;
    }
}

input[type="date"] {
    -webkit-appearance: none;
}