.vdp-datepicker input {
  @extend .form-control;
}

.vs__clear {
  margin-top: -4px;
}

.vue-portal-target {
  position: absolute;
  top: 0;
  left: 0;
}

.modal {
  display: block;
  z-index: unset !important;
}

.modal-backdrop {
  z-index: unset !important;
}