@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/root";
@import "./node_modules/bootstrap/scss/reboot";
@import "./node_modules/bootstrap/scss/type";
@import "./node_modules/bootstrap/scss/images";
@import "./node_modules/bootstrap/scss/grid";
@import "./node_modules/bootstrap/scss/tables";
@import "./node_modules/bootstrap/scss/forms";
@import "./node_modules/bootstrap/scss/buttons";
@import "./node_modules/bootstrap/scss/transitions";
@import "./node_modules/bootstrap/scss/dropdown";
@import "./node_modules/bootstrap/scss/button-group";
@import "./node_modules/bootstrap/scss/input-group";
@import "./node_modules/bootstrap/scss/nav";
@import "./node_modules/bootstrap/scss/navbar";
@import "./node_modules/bootstrap/scss/card";
@import "./node_modules/bootstrap/scss/badge";
@import "./node_modules/bootstrap/scss/alert";  
@import "./node_modules/bootstrap/scss/progress";
@import "./node_modules/bootstrap/scss/list-group";
@import "./node_modules/bootstrap/scss/close";
@import "./node_modules/bootstrap/scss/modal";
@import "./node_modules/bootstrap/scss/tooltip";
@import "./node_modules/bootstrap/scss/popover";
@import "./node_modules/bootstrap/scss/spinners";
@import "./node_modules/bootstrap/scss/utilities";
@import "./node_modules/bootstrap/scss/print";
@import "./node_modules/bootstrap/scss/pagination";

// not imported: code, toasts, breadcrumb, media, jumbotron, carousel

@import "./node_modules/vue-select/src/scss/vue-select";

@import "../../../Common/styles/datepicker";
@import "draggable.scss";

html, body {
  height: 100%;
  color: $gray-800;
  background: $gray-200;

  @include media-breakpoint-down(sm) {
    background: $gray-100;
  }
}

.hidden {
  opacity: 0;
}

.clickable {
  cursor: pointer;
}

.hover-actions {
  width: 1px;
  white-space: nowrap;
  
  td:last-of-type {
    padding: 0;
    padding-top: 5px;
  }
  
  .hover-action {
    cursor: pointer;
    font-size: 24px;
  }
}

.modal {
  display: block;
}

.vdp-datepicker input {
  @extend .form-control;
}

.vs__clear {
  margin-top: -4px;
}

.vue-portal-target {
  position: absolute;
  top: 0;
  left: 0;
}

.modal {
  z-index: unset !important;
}

.modal-backdrop {
  z-index: unset !important;
}